@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}


/* header  */

body {
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
}

header {
    padding-left: 0 !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none
}

.logo {
    background-color: #429ad9;
}

.logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width:991px) {
    .nav li {
        float: left;
        width: 20%;
    }
    article {
        margin-top: 10px;
    }
}

@media screen and (max-width:767px) {
    .nav li a {
        font-size: 14px;
        padding: 0;
    }
    .news ul li:nth-child(1) {
        width: 100%;
    }
    .news ul li {
        width: 50%;
    }
    .publish h3 {
        font-size: 14px;
    }
}

.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
}

.nav a:hover {
    background-color: #fff;
    color: #333;
}

.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}

.news li {
    width: 25%;
    float: left;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news li:nth-child(1) {
    width: 50%;
    height: 266px;
    font-size: 18px;
    line-height: 41px;
    font-size: 20px;
}

.news li:nth-child(1) p {
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}

.news li a img {
    width: 100%;
    height: 100%;
}

.news li a p {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 41px;
    margin-bottom: 0;
    padding: 5px 10px;
    overflow: hidden;
}

.publish {
    border-top: 1px solid #ccc;
}

.pic {
    margin-top: 10px;
}

.pic img {
    width: 100%;
}

.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.banner img {
    width: 100%;
}

.hot {
    border: 1px solid #ccc;
    display: block;
    margin-top: 20px;
    padding: 0 20px 20px;
}

.hot span {
    border-radius: 0;
    margin-bottom: 20px;
}

.hot p {
    font-size: 12px;
}